@import "base/index-base";

$crux-green: #00A651;

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  // font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div.intro {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: 0 0 0 300px;
      text-transform: uppercase;
      color: lightgray;
      font-size: 83px;
      line-height: 68px;
      letter-spacing: 3px;
      span.color-change {
        color: $crux-green;
        text-shadow: 2px 2px 13px #333333;
      }
    }
    div.line {
      margin: 48px 0 18px 0;
      width: 48vw;
      border-top: 3px solid white;
    }
    h3 {
      margin: 33px 0 0 305px;
      color: lightgray;
      font-size: 33px;
      font-weight: normal;
      line-height: 33px;
      letter-spacing: 1px;
      a {
        text-decoration: none;
        color: lightgray;
        &:hover {
          color: #FFFFFF;
          text-shadow: 2px 2px 8px $crux-green;
        }
      }
    }
    h5 {
      margin: 3px 0 0 305px;
      color: lightgray;
      font-size: 13px;
      font-weight: bold;
      line-height: 18px;
      letter-spacing: 1px;
      span.weight-change {
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 8px;
        line-height: 13px;
      }
    }
  }
  div.content {
    width: 75vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div.copy {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      h1 {
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 83px;
        line-height: 68px;
        letter-spacing: 3px;
        text-shadow: 2px 2px 13px #333333, -2px -2px 13px #333333;
        span.color-change {
          color: $crux-green;
          text-shadow: 2px 2px 13px #FFFFFF, -2px -2px 13px #FFFFFF;
        }
        span.lower-case {
          text-transform: none;
        }
      }
    }
    div.image {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
          width: 63%;
          height: auto;
        }
        img.logo {
          width: 48%;
          height: auto;
        }
        img.macbookpros {
          width: 93%;
          height: auto;
        }
        img.devices {
          width: 73%;
          height: auto;
        }
      }
    }
    a {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}


#intro {
  background-image: url("../img/background-image-intro.png");
}

#brick {
  background-image: url("../img/background-image-brick.png");
}

#wood {
  background-image: url("../img/background-image-wood.png");
}

#stone {
  background-image: url("../img/background-image-stone.png");
}

#concrete {
  background-image: url("../img/background-image-concrete.png");
}

#marble {
  background-image: url("../img/background-image-marble.png");
}

#drywall {
  background-image: url("../img/background-image-drywall.png");
}

#metal {
  background-image: url("../img/background-image-metal.png");
}

#glass {
  background-image: url("../img/background-image-glass.png");
}

// #footer {
//   background-color: #000000;
// }

// #logo {
//   -webkit-animation: logoScale 2s infinite;
// }
//
// @keyframes logoScale {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(1.06125);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
//
// #next {
//   opacity: 0;
//   -webkit-animation: nextButton 3s infinite;
// }
//
// @keyframes nextButton {
//   100% { opacity: 1; }
//   50%  { opacity: 0.5; }
//   0%   { opacity: 1; }
// }
